{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    <div class="row">
        <div class="col-8">
            <form action="{% url 'searching-room' %}" class="w-100 me-3" method="get">
          <input type="search" class="form-control" placeholder="Поиск" aria-label="Search" name="conf">
        </form>
            <div class="mt-2">
                {% for room in rooms %}
                    {% if not room.conference %}
                        {% for member in room.members.all %}
                         {% if member != request.user %}
                            <div class="row g-0 mt-2">
                               <div class="col-md-3">
                                 <img src="{% if member.avatar %}{{ member.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" width="150" height="150" alt="...">
                               </div>
                               <div class="col-md-4">
                                 <div class="card-body">
                                     <h5 class="card-title"><a href="#">{{ member.first_name }} {{ member.last_name }}</a></h5>
                                   {% if not room.last_message.read and room.last_message.author != request.user %}
                                       <a style="text-decoration: none; color: black" href="{% url 'room_view' %}?sell={{ room.id }}"><p class="card-text"><img src="{% if room.last_message.author.avatar %}{{ room.last_message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="" class="m-2" height="35" width="35">
                                           {{ room.last_message.text }}
                                   </p></a>
                                       <a  href="{% url 'room_view' %}?sell={{ room.id }}"><p class="btn btn-primary">{{ room.noread_messages }} непрочитанных</p></a>
                                   {% else %}
                                       <a style="text-decoration: none; color: black;" href="{% url 'room_view' %}?sell={{ room.id }}"><p class="card-text"><img src="{% if room.last_message.author.avatar %}{{ room.last_message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="" class="m-2" height="35" width="35"> {{ room.last_message.text }}</p></a>
                                   {% endif %}
                                   <p class="card-text "><a href="#">Написать сообщение</a></p>
                                 </div>
                               </div>
                             </div>
                          {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="row g-0 mt-2">
                               <div class="col-md-3">
                                 <img src="{% if room.avatar %}{{ room.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" width="150" height="150" alt="...">
                               </div>
                               <div class="col-md-4">
                                 <div class="card-body">
                                     <h5 class="card-title"><a href="#">{{ room.title }}</a></h5>
                                   {% if not room.last_message.read %}
                                       <a style="text-decoration: none; color: black" href="{% url 'room_view' %}?sell={{ room.slug }}"><p class="card-text"><img src="{{ room.last_message.author.avatar.url }}" alt="" class="m-2" height="35" width="35">
                                           {{ room.last_message.text }}
                                       </p></a>
                                       <a href="{% url 'room_view' %}?sell={{ room.slug }}"><p class="btn btn-primary btn-block">{{ room.noread_messages }} непрочитанных</p></a>
                                   {% elif not room.last_message %}
                                   {% else %}
                                        <a style="text-decoration: none; color: black" href="{% url 'room_view' %}?sell={{ room.slug }}">
                                            <p class="card-text"><img src="{{ room.last_message.author.avatar.url }}" alt="" class="m-2" height="35" width="35"> {{ room.last_message.text }}</p></a>
                                   {% endif %}
                                   <p class="card-text"><a href="#">Написать сообщение</a></p>
                                 </div>
                               </div>
                             </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock profile %}