{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    <section>
  <div class="container py-5">

    <div class="row" >

      <div class="col-md-6 col-lg-7 col-xl-8">

          {% if not room.conference %}
               <div class="row mb-5">
                    <div class="col-2">
                        <a href="{% url 'profile' slug=second_member.username %}"><img src="{% if second_member.avatar %}{{ second_member.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="avatar"
                               class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" style="margin-left: auto;" width="60"></a>
                    </div>

                    <div class="col-3">
                        <a style="text-decoration: none; color: black;" href="{% url 'profile' slug=second_member.username %}"><h5>{{ second_member.first_name }} {{ second_member.last_name }}</h5></a>
                    </div>
               </div>
        <hr>
         <ul class="list-unstyled mt-5 chatting-area">
            {% if room.messages_room.all %}
                {% for message in messages %}
              {% if message.author != request.user %}

          <li class="d-flex justify-content-between mb-4">
            <img src="{% if message.author.avatar %}{{ message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow+-1-strong" style="margin-right: auto;" width="60">
            <div class="card" style="margin-right: auto;">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0 m-2">{{ message.author.first_name }} {{ message.author.last_name }}</p>
                <p class="text-muted small mb-0 m-2"><i class="far fa-clock"></i> {{ message.date_add }}</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  {{ message.text }}
                </p>
              </div>
                </div>
          </li>
          {% else %}

            <li class="d-flex justify-content-between mb-4">
            <div class="card" style="margin-left: auto;">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0 m-2">{{ message.author.first_name }} {{ message.author.last_name }}</p>
                <p class="text-muted small mb-0 m-2"><i class="far fa-clock"></i> {{ message.date_add }}</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  {{ message.text }}
                </p>
              </div>
            </div>
            <img src="{% if message.author.avatar %}{{ message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="avatar"
              class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" style="margin-left: auto;" width="60">
          </li>
                    {% endif %}
           {% endfor %}
          {% else %}
               <h2>Начните диалог прямо сейчас!</h2>
          {% endif %}
        </ul>
               <div class="form-outline">
                <form onsubmit="return false;">
                    <em id="typing"></em><br>
                    <textarea cols="20" id="chat-message-input"></textarea>
                    <button id="chat-message-submit" class="btn btn-primary">Отправить</button>
                </form>
                {{ room_id|json_script:"room-id" }}
                {{ username|json_script:"author-name" }}
                {{ second_member_username|json_script:"second-member-username" }}
            </div>
            {% endif %}

      </div>

    </div>

  </div>
</section>
    <script>
         const roomId = JSON.parse(document.getElementById('room-id').textContent);
         const author = JSON.parse(document.getElementById('author-name').textContent);
         const secondUsername = JSON.parse(document.getElementById('second-member-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data['command'] === 'new_message') {
                createMessage(data['message']);
            } else if (data['command'] === 'typing_start') {
                document.getElementById("typing").innerHTML = data["message"] + " is typing";
            } else if (data['command'] === 'typing_stop') {
                document.getElementById("typing").innerHTML = "";
            }
        };

        document.querySelector('#chat-message-input').addEventListener("keypress", function () {
            {#chatSocket.emit("typing", username);#}
            chatSocket.send(JSON.stringify({
                'command': 'typing_start',
                'author': author,
            }));
        });

        document.querySelector('#chat-message-input').addEventListener("keyup", function () {
            setTimeout(() => {
                chatSocket.send(JSON.stringify({
                    'command': 'typing_stop',
                }));
            }, 300);
        });

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'author': author,
            }));
            messageInputDom.value = '';
        };

        function createMessage(data) {

            const htmlMessage = `<li class="d-flex justify-content-between mb-4">
                                  <div class="card" style="margin-left: auto;">
                                      <div class="card-header d-flex justify-content-between p-3">
                                          <p class="fw-bold mb-0 m-2">${data['fullname']}</p>
                                          <p class="text-muted small mb-0 m-2"><i class="far fa-clock"></i>${data['timestamp']}</p>
                                      </div>
                                      <div class="card-body">
                                          <p class="mb-0">
                                              ${data['content']}
                                          </p>
                                      </div>
                                  </div>
                                  <img src="${data['imageurl']}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" style="margin-left: auto;" width="60">
                              </li>`;
            $('.chatting-area').append(htmlMessage);

        }


    </script>

{% endblock profile %}