{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    <section>
  <div class="container py-5">

    <div class="row" >

        <div id="frame">

	<div class="content">
		<div class="contact-profile">
            <a href="{% url 'profile' slug=second_member.username %}"><img src="{% if second_member.avatar %}{{ second_member.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="" /></a>
            <a style="text-decoration: none; color:black;" href="{% url 'profile' slug=second_member.username %}"><p>{{ second_member.full_name }}</p></a>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
            <ul id="chatting-area" class="chatting-area">

            </ul>
		</div>
		<div class="message-input">
			<div class="wrap">
             <form onsubmit="return false;">
                 <em id="typing"></em><br>
			    <input id="chat-message-input" type="text" placeholder="Write your message..." />
			    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			    <button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
             </form>
                {{ room_id|json_script:"room-id" }}
                {{ username|json_script:"author-name" }}
                {{ second_member_username|json_script:"second-member-username" }}
            </div>

		</div>
	</div>
</div>

    </div>

  </div>
</section>
    <script>$(".messages").animate({ scrollTop: $(document).height() }, "fast");
        const messagess = document.querySelector('.chatting-area');

        $(document).ready(function () {
            const messages = $('.chatting-area');
            {#console.log(messages.prop("scrollHeight"));#}
            messages.animate({
                scrollTop: messages.offset().top + 50
            }, 'slow');
        });

        const roomId = JSON.parse(document.getElementById('room-id').textContent);
        const author = JSON.parse(document.getElementById('author-name').textContent);
        const secondUsername = JSON.parse(document.getElementById('second-member-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onopen = function(e) {
            fetchMessages();
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i = 0; i < data['messages'].length; i++) {
                    createMessage(data['messages'][i]);
                }
            } else if (data['command'] === 'new_message') {
                createMessage(data['message']);
            } else if (data['command'] === 'typing_start') {
                document.getElementById("typing").innerHTML = data["message"] + " is typing";
            } else if (data['command'] === 'typing_stop') {
                document.getElementById("typing").innerHTML = "";
            }
        };

        document.querySelector('#chat-message-input').addEventListener("keypress", function () {
            {#chatSocket.emit("typing", username);#}
            document.querySelector('#chat-message-submit').disabled = false;
            chatSocket.send(JSON.stringify({
                'command': 'typing_start',
                'author': author,
            }));
        });

        document.querySelector('#chat-message-input').addEventListener("keyup", function () {
            setTimeout(() => {
                chatSocket.send(JSON.stringify({
                    'command': 'typing_stop',
                }));
            }, 300);
        });

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                if (document.querySelector('#chat-message-input').value === 0) {
                    document.querySelector('#chat-message-submit').disabled = true;
                } else {
                    document.querySelector('#chat-message-submit').click();
                }
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message.replace(/\s/g, '').length === 0) {
                document.querySelector('#chat-message-submit').disabled = true;
            } else {
                chatSocket.send(JSON.stringify({
                    'command': 'new_message',
                    'message': message,
                    'author': author,
                }));
                messageInputDom.value = '';
            }
        };
        
        function fetchMessages() {
            chatSocket.send(JSON.stringify({'command': 'fetch_messages', 'author': author}));
        }

        function createMessage(data) {

            const htmlMessage = `<p style="float:right;margin-right:20px;">${data['fullname']}</p>
                                <li class="replies" style="margin-right:auto;">
                                    <img height="40" src="${data['imageurl']}" alt="" />
                                    <p>${data['content']}</p>
                                 </li>`;
            $('.chatting-area').append(htmlMessage);
            $(".messages").animate({ scrollTop: $(document).height()*1000000 }, "fast");
        }

     //   let messagerr = $('#messager');
     //   messagerr.scrollTop(messagerr[0].scrollHeight);
//
     //   messagerr.scroll(function () {
     //     let lastHeight = $(this)[0].scrollHeight;
     //     console.warn(lastHeight);
     //     if ($(this)[0].scrollTop === 0) {
     //       let newHeight = $(this)[0].scrollHeight;
     //       messagerr.scrollTop(newHeight - lastHeight);
     //     }
     //   });


    </script>

{% endblock profile %}