{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    <section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">

      <div class="col-md-6 col-lg-7 col-xl-8">

          {% if not room.conference %}
        <ul class="list-unstyled">
            {% if room.messages_room.all %}
                {% for message in room.messages_room.all %}
              {% if message.author != request.user %}
          <li class="d-flex justify-content-between mb-4">
            <img src="{% if message.author.avatar %}{{ message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" style="margin-left: auto;" width="60">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0 m-2">{{ message.author.first_name }} {{ message.author.last_name }}</p>
                <p class="text-muted small mb-0 m-2"><i class="far fa-clock"></i> {{ message.date_add }}</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  {{ message.text }}
                </p>
              </div>
            </div>
          </li>
          {% else %}

            <li class="d-flex justify-content-between mb-4">
            <div class="card w-100">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0 m-2">{{ message.author.first_name }} {{ message.author.last_name }}</p>
                <p class="text-muted small mb-0 m-2"><i class="far fa-clock"></i> {{ message.date_add }}</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  {{ message.text }}
                </p>
              </div>
            </div>
            <img src="{% if message.author.avatar %}{{ message.author.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" alt="avatar"
              class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" style="margin-right: auto;" width="60">
          </li>
                    {% endif %}
           {% endfor %}
          {% else %}
               <h2>Начните диалог прямо сейчас!</h2>
          {% endif %}
          <li class="bg-white mb-3">
            <div class="form-outline">
              <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
              <label class="form-label" for="textAreaExample2">Message</label>
            </div>
          </li>
          <button type="button" class="btn btn-info btn-rounded float-end">Send</button>
        </ul>
            {% endif %}





      </div>

    </div>

  </div>
</section>
{% endblock profile %}