{% extends 'base_for_templates.html' %}

{% block profile %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" name="category" type="radio" id="category" value="{{ category.id }}">
                    <label class="form-check-label" for="category">
                        {{ category.title }}
                    </label>
                </div>
            {% endfor %}
            <div class="form-group col-auto mt-4">
                    <input class="form-control" type="text" placeholder="Название беседы" name="title">
            </div>
            <label class="mt-2" for="themat">Тематика группы</label>
            <select id="themat" name="thematic" class="form-select mt-2">
                <option value="other" selected>Другое..</option>
                <option value="edu">Образование</option>
                <option value="tech">Техника</option>
                <option value="auto">Авто/Мото</option>
                <option value="service">Услуги</option>
                <option value="blog">Блог</option>
            </select>
            <div class="form-group col-auto mt-4">
                    <label for="avatargb">Изображение беседы</label>
                    <input id="avatargb" class="form-control" type="file" name="avatar" >
                </div>
            <div class="col-auto mt-4">
                    <button class="btn btn-primary" type="submit">Создать группу</button>
            </div>
        </form>
    </div>
{% endblock profile %}