{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    {% if request.user != group.author %}
        <div class="row">
            <div class="col-7 m-2">
                <h4>{{ group.title }}</h4>
                <p>{{ group.infogroup.status }}</p>
                <hr>
                <h5>Информация</h5>
                <hr>
                <p class="m-3">{{ group.infogroup.description }}</p>
                <p class="mt-3">Web-site: {% if group.website %}<a href="{{ group.website }}">{{ group.website }}</a>{% else %}-{% endif %}</p>
                <hr>
                {% if not group.infogroup.privaty %}
                    <div class="row mt-2">
                    {% if group.photos.all %}
                    <h4>Фотографии {{ group.photos.count }}</h4>
                        {% for photo in last_5_photo %}
                          <div class="col-2">
                                <a href="{% url 'image-group' slug=group.slug %}?p={{ photo.slug }}"><img src="{{ photo.image.url }}" alt="" height="110" width="120"></a>
                          </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-3 m-2">
                <img src="{{ group.avatar.url }}" alt="" width="250" height="350">
                {% if request.user in group.followers.all %}
                    <a class="btn btn-success btn-block mt-2">Вы участник</a>
                    <a class="btn btn-danger mt-2" href="{% url 'unfollow-group' slug=group.slug %}">Отписаться</a>
                {% elif group.infogroup.privaty %}
                    <a class="btn btn-primary mt-2">Подать заявку</a>
                {% else %}
                    <a class="btn btn-primary mt-2" href="{% url 'follow-group' slug=group.slug %}">Вступить в группу</a>
                {% endif %}
                <hr>
                <a class="btn btn-primary" href="#">Написать сообщение</a>
            </div>
        </div>
    {% else %}
        <div class="row">
        <div class="col-7 m-2">
            <h4>{{ group.title }}</h4>
            <p>{{ group.infogroup.status }}</p>
            <hr>
            <h5>Информация</h5>
            <hr>
            <p class="m-3">{{ group.infogroup.description }}</p>
            <p class="mt-3">Web-site: {% if group.website %}<a href="{{ group.website }}">{{ group.website }}</a>{% else %}-{% endif %}</p>
            <hr>
            <div class="row mt-3">
                {% if group.photos.all %}
                <h4>Фотографии {{ group.photos.count }}</h4>
                {% for photo in last_5_photo %}
                    <div class="col-2 m-3">
                        <a href="{% url 'image-group' slug=group.slug %}?p={{ photo.slug }}"><img src="{{ photo.image.url }}" alt="" height="110" width="120"></a>
                    </div>
                {% endfor %}
                {% endif %}
            <form class="form-control mt-4 m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-light">Выложить новость</button>
                    </form>
            </div>
            <h4>Записи сообщества</h4>
            <div class="mt-5">
            {% for feed in feeds %}
            <div class="card mt-2">
              <div class="card-body">
              <div class="row">
                <h5 class="card-title m-2"><img src="{{ group.avatar.url }}" alt="" height="50" width="50"> {{ group.title }}</h5>
                  <a href="{% url 'feed' %}?w={{ feed.id }}" style="text-decoration: none; color: black;"><p class="card-text m-2">{{ feed.content }}</p></a>
              </div>
              <div class="card-title m-2" style="position:absolute;top:2%;right:2%;">
                                       <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="{% url 'delete-feed-group' pk=feed.id %}">Удалить запись</a></li>
            <li><a class="dropdown-item" href="#">Архивировать</a></li>
            <li><a class="dropdown-item" href="">Выключить комментарии</a></li>
          </ul>
        </div>
              </div>
                {% if feed.images.all %}
                    {% for photo in feed.images.all %}
                        <a href="{% url 'image' slug=user.username %}?p={{ photo.slug }}"><img src="{{ photo.image.url }}" alt="" class="m-2" width="350" height="250"></a>
                    {% endfor %}
                {% endif %}
              <div class="row">
                <p class="m-2">Комментарии</p>
                <p style="position:absolute;bottom:2%;left:70%;color: #8e908c">{{ feed.date_add }}</p>
              </div>
              </div>
            </div>
        {% endfor %}
            </div>
        </div>
        <div class="col-3 m-2">
            <img src="{{ group.avatar.url }}" alt="" width="250" height="350">
            {% if request.user in group.followers.all %}
                <a class="btn btn-success btn-block mt-2">Вы подписаны</a>
                <a class="btn btn-danger mt-2" href="{% url 'unfollow-group' slug=group.slug %}">Отписаться</a>
            {% else %}
                <a class="btn btn-primary mt-2" href="{% url 'follow-group' slug=group.slug %}">Вступить в группу</a>
            {% endif %}
            <hr>
            <a class="btn btn-light" href="#">Управление</a>
            <a class="btn btn-light" href="#">Статистика</a>
            <a class="btn btn-light" href="#">Комментарии</a>
            <a class="btn btn-light" href="#">События</a>
        </div>
    </div>
    {% endif %}
{% endblock profile %}