{% extends 'base_for_templates.html' %}
{% load static %}

{% block profile %}
    <div class="row">
        <div class="col-8">
        <h4>Люди</h4>
        {% if users %}
        <p><a href="{% url 'search-friend' %}">Посмотреть всё ></a></p>
            {% for user in first_5_users %}
                {% if user != request.user %}
                 <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title"><a href="{% url 'profile' slug=user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
                        <p class="card-text">{{ user.infouser.work }}</p>
                        <p class="card-text"><a href="#">Написать сообщение</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Не найдено</p>
        {% endif %}
        <hr>
        <h4>Сообщества</h4>
        {% if communities %}
            <p><a href="#">Посмотреть всё >>></a></p>
            {% for group in first_5_group %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{% if group.avatar %}{{ group.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title"><a href="#">{{ group.title }}</a></h5>
                        <p class="card-text">{{ group.thematic }}</p>
                        <p class="card-text"><a href="#">Подписаться</a></p>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Не найдено</p>
        {% endif %}
        </div>
    </div>
{% endblock profile %}
