{% extends 'base_for_templates.html' %}
{% load static %}
{% block profile %}
    <div class="row">
        <div class="col-6">
        <form action="{% url 'search-friend' %}" class="w-100 me-3" method="get">
          <input type="search" class="form-control" placeholder="Поиск" aria-label="Search" name="q">
        </form>
        {% block search %}
            {% for user in users %}
            <div class="card mb-3 mt-4" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title"><a href="{% url 'profile' slug=user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
            <p class="card-text">{{ user.infouser.work }}</p>
            <p class="card-text"><a href="#">Написать сообщение</a></p>
          </div>
        </div>
      </div>
    </div>
            {% endfor %}
        {% endblock search %}

        </div>
    <div class="col-4">
        <a class="btn btn-success" href="{% url 'followers' %}">Заявки в друзья</a>
        <p class="mt-2"><a class="btn btn-success" href="{% url 'subscribers' %}">Подписки</a></p>
    </div>
    </div>
{% endblock profile %}
