{% extends 'base_for_templates.html' %}

{% block profile %}
    {% if user %}
        <div class="row">
            <div class="col-3" style="background-color: white; ">
                <div class="">
                    <img src="{{ user.avatar.url }}" alt="" width="250" height="250">
                    <a class="btn btn-primary" href="{% url 'edit' %}" style="margin: 7%;">Редактировать профиль</a>
                </div>
            </div>
            <div class="col-9"  style="background-color: white; ">
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                <p>{{ user.infouser.status }}</p>
                <hr>
                <div class="m-3">
                    <p style="color: #918a8a">День рождения: {{ user.infouser.birthday }}</p>
                    <p style="color: #918a8a">Город:  {{ user.infouser.city }}</p>
                    <p style="color: #918a8a">Работа: {{ user.infouser.work }}</p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user.friends.count }}</a></h5>
                        <p class="text-center">друзей</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user.followers.count }}</a></h5>
                        <p class="text-center">подписчиков</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user.subscribers.count }}</a></h5>
                        <p class="text-center">подписок</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user.photos.count }}</a></h5>
                        <p class="text-center">фотографий</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    {% else %}
        <div class="row">
            <div class="col-3" style="background-color: white; ">
                <div class="">
                    <img src="{{ user2.avatar.url }}" alt="" width="250" height="250">
                    {% if user2 in request.user.friends.all %}
                        <a class="btn btn-success disabled" style="margin: 7%;">У вас в друзьях</a>
                    {% elif user2 in request.user.followers.all %}
                        <a class="btn btn-primary" href="#" style="margin: 7%;">Принять заявку</a>
                        <p style="font-size: small; margin: 7%;">{{ user2.first_name }} подписан(а) на вас</p>
                    {% elif user2 in request.user.subscribers.all %}
                        <a class="btn btn-primary disabled" style="margin: 7%;">Вы подписаны</a>
                        <a class="btn btn-primary" style="margin: 7%;" href="#">Отписаться</a>
                    {% else %}
                        <a class="btn btn-primary text-center" style="margin-left: 23%; margin-top: 10%" href="#">Подписаться</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-9"  style="background-color: white; ">
                <h4>{{ user2.first_name }} {{ user2.last_name }}</h4>
                <p>{{ user2.infouser.status }}</p>
                <hr>
                <div class="m-3">
                    <p style="color: #918a8a">День рождения: {{ user2.infouser.birthday }}</p>
                    <p style="color: #918a8a">Город:  {{ user2.infouser.city }}</p>
                    <p style="color: #918a8a">Работа: {{ user2.infouser.work }}</p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user2.friends.count }}</a></h5>
                        <p class="text-center">друзей</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user2.followers.count }}</a></h5>
                        <p class="text-center">подписчиков</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user2.subscribers.count }}</a></h5>
                        <p class="text-center">подписок</p>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center"><a>{{ user2.photos.count }}</a></h5>
                        <p class="text-center">фотографий</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    {% endif %}
{% endblock profile %}
