{% extends 'profiles/friends.html' %}
{% load static %}
{% block search %}
    {% if friends %}
        {% for user in friends %}
            <div class="card mb-3 mt-4" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title"><a href="{% url 'profile' slug=user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
            <p class="card-text">{{ user.infouser.work }}</p>
            <p class="card-text"><a href="#">Написать сообщение</a></p>
          </div>
        </div>
      </div>
    </div>
            {% endfor %}
    {% else %}
        <p>Ни одного друга не найдено</p>
    {% endif %}
    <hr>
    {% if users %}
        <H4 class="mb-2">Другие пользователи</H4>
    {% for user in users %}
        {% if user != request.user and user not in request.user.friends.all %}
            <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'css/camera_200.png' %}{% endif %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title"><a href="{% url 'profile' slug=user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
            <p class="card-text">{{ user.infouser.work }}</p>
            <p class="card-text"><a href="#">Подписаться</a></p>
          </div>
        </div>
      </div>
    </div>
        {% endif %}
            {% endfor %}
    {% else %}
        <p>Не найдено</p>
    {% endif %}
{% endblock search %}
